<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% messages.forEach( message => { %>
      <h1><%= message.user %> Said</h1> 
      <p><%= message.text %> </p>
      <p> <%= message.added  %> </p> 
    <% }); %> 


  </body>
</html>
